<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!--/*/ <th:block th:include="header :: head"></th:block> /*/-->

<title>User</title>
</head>

<body>
	<div class="container">
		<h2 th:text="#{user.title}">User</h2>
		<div>
			<form class="form-horizontal" th:object="${entity}">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label class="col-sm-2 control-label" for="email"
						th:text="#{user.email}">E-mail:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="email"
							th:field="*{email}" value="user1@mail.com" maxlength="64" />
					</div>
					<span class="help-block col-sm-offset-2 col-sm-10"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect
						e-mail</span>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('name')} ? has-error">
					<label class="col-sm-2 control-label" for="name"
						th:text="#{user.name}">Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name"
							th:field="*{name}" value="user1" maxlength="64" />
					</div>
					<span class="help-block col-sm-offset-2 col-sm-10"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect
						e-mail</span>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('passwordHash')} or ${error} != null ? has-error">
					<label class="col-sm-2 control-label" for="passwordHash"
						th:text="#{user.passwordHash}">Password:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="passwordHash"
							th:field="*{passwordHash}" value="123456" maxlength="25" />
					</div>
					<span class="help-block col-sm-offset-2 col-sm-10"
						th:if="${#fields.hasErrors('passwordHash')}"
						th:errors="*{passwordHash}">Incorrect password</span>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="role"
						th:text="#{user.role}">Role:</label>
					<div class="col-sm-2">
						<select class="form-control" th:field="*{role}">
							<option th:each="role : ${roles}" th:value="${role.getKey()}"
								th:text="${role.getValue()}">User</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button th:if="*{id} == 0" type="submit" th:formaction="@{/users}"
							formmethod="post" formaction="userList.html"
							class="btn btn-primary" th:text="#{user.create}">Create</button>
						<button th:if="*{id} > 0" type="submit"
							th:formaction="@{/users/{userId}(userId=*{id})}"
							formmethod="post" formaction="userList.html"
							class="btn btn-primary" th:text="#{user.update}">Update</button>
						<button th:if="*{id} > 0" type="submit"
							th:formaction="@{/users/{id}/delete (id=*{id})}"
							formmethod="post" formaction="userList.html"
							class="btn btn-primary" th:text="#{user.delete}">Delete</button>
						<button type="submit" class="btn btn-link" formmethod="get"
							formaction="userList.html" th:formaction="@{/users}"
							th:text="#{user.cancel}">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>